<a href="https://colab.research.google.com/github/annatozaki/estudopythoncompandas/blob/main/covid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Libs e imports**

In [ ]:
# Importando Panda e Numpy
import pandas as pd
import numpy as np

In [ ]:
#Importando o meu Drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
# Importando excel

pessoas = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Python para iniciantes - Curso Udemy Rafael Silva/caso_estudo.xlsx', sheet_name = 'pessoas')
covid = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Python para iniciantes - Curso Udemy Rafael Silva/caso_estudo.xlsx', sheet_name = 'registros_covid')

# **Analisando dados da tabela**

In [ ]:
#Analisando Dados de pessoas

pessoas.head()

   id               nome sexo  idade
0   1      Lavinia Sousa    F     18
1   2       Caio Pereira    M     28
2   3      Júlio Azevedo    M     32
3   4    Sarah Goncalves    F     49
4   5  Gabrielle Martins    F     27

In [ ]:
#Analisando Dados de covid

covid.head()

   id  id_pessoa severidade
0   1          3       alta
1   2          4       alta
2   3          6      baixa
3   4          8      baixa
4   5          9       alta

# **Estudando JOIN**

In [ ]:
# Configurando o index para o join globalmente para a coluna id
pessoas = pessoas.set_index('id')
covid = covid.set_index('id')

In [ ]:
# Criando um novo DataFrame com join da tabela pessoas com covid por um index temporário 'id pessoa'
df = pessoas.join(covid.set_index('id_pessoa'))
df.head(10)

                 nome sexo  idade severidade
id
1       Lavinia Sousa    F     18        NaN
2        Caio Pereira    M     28        NaN
3       Júlio Azevedo    M     32       alta
4     Sarah Goncalves    F     49       alta
5   Gabrielle Martins    F     27        NaN
6      Felipe Almeida    M     31      baixa
7    Rebeca Rodrigues    F     22        NaN
8   Gabrielly Almeida    F     37      baixa
9      Fernanda Silva    F     50       alta
10    Tomás Rodrigues    M     31      baixa

In [ ]:
# Tratando o NaN

df = df.fillna(0)
df

                   nome sexo  idade severidade
id
1         Lavinia Sousa    F     18          0
2          Caio Pereira    M     28          0
3         Júlio Azevedo    M     32       alta
4       Sarah Goncalves    F     49       alta
5     Gabrielle Martins    F     27          0
...                 ...  ...    ...        ...
996      Ágatha Ribeiro    F     31      baixa
997      Laura Oliveira    F     23          0
998       Lara Oliveira    F     24          0
999        Julian Cunha    M     43       alta
1000    Gustavo Barbosa    M     23          0

[1000 rows x 4 columns]